@import "../../stylesheets/abstracts/breakpoints";

.details {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: 1fr;
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
}
