@import "../../stylesheets/abstracts/breakpoints";
@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";
@import "../../stylesheets/base/typography";

.user {
  &__user {
    @extend %hover;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1.5rem;
    align-items: center;
    width: fit-content;
  }
  &__photo {
    width: 80px;
    border-radius: 100%;
  }
  &__username {
    padding: unset;
  }
  &__name {
    padding-bottom: 0.2rem;
  }
  &__description {
    padding: 2rem 0 1rem 0;
  }
  &__detail {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    align-items: center;
    &--first {
      padding-top: 1rem;
    }
    &--last {
      padding-bottom: unset;
    }
  }
  &__icon {
    width: 15px;
    opacity: 0.75;
  }
}
