@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";
@import "../../stylesheets/abstracts/breakpoints";

.search {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  @include tablet {
    grid-template-columns: 1fr auto;
  }
  @include desktop {
    max-width: calc(50% - 1rem);
  }
  &__input,
  &__submit {
    @extend %round;
    height: 55px;
  }
  &__input {
    box-shadow: unset;
    &::placeholder {
      opacity: 0.75;
    }
  }
  &__submit {
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 0.8px;
  }
}
