@import "../../stylesheets/abstracts/breakpoints";

.metrics {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
